// Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@600&display=swap');

// Colors 
$primary-color: #2D29D7;
$secondary-color: white;
$block-color: #F8FAFD;
$text-color: #4F5664;
$tmp-color: #C6C8CA;

$footer-bg: #090628;
$footer-text: #AEACFF;

// Margins
$site-margin-left: 10%;
$site-margin-right: 10%;
$site-margin-between-blocks: 10%;

// Fonts
$heading-font: "Space Grotesk", sans-serif;
$text-font: "Inter", sans-serif;

// Mixins

// Styles
@import 'null'; //Обнуление стилей
@import 'main'; //Общие классы
@import 'sections'; //Секции
@import 'media'; //Аддаптив

