/* Basic setting */
body {
    max-width: 1600px;
    background-color: $secondary-color;
    font-family: $text-color;
    font-size: 16px;
    line-height: 1.8;
}

.title {
    font-family: $heading-font;
    font-size: 20px;
    line-height: 1.2;
}

.text {
    color: $text-color;
    font-family: $text-font;
}

a {
    color: $secondary-color;
    text-decoration: none;
    font-family: $text-font;
}

.icon {
    background-color: $primary-color;
    width: 48px;
    height: 48px;
}

.image {
    background-color: $tmp-color;
    width: 100%;
    height: 300px;
}

.button {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px 10px;
    margin-top: 30px;
    border-radius: 8px;
    border: 2px solid $primary-color;
    background-color: $secondary-color;
    font-family: $text-font;
    cursor: pointer;
    white-space: normal;

    .icon {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    a {
        color: $primary-color;
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    .list {
        display: flex;

        .item {
            margin-right: 60px;
        }
    }
}

.columns {
    display: flex;
    padding-left: $site-margin-left;
    padding-right: $site-margin-right;
    margin-top: $site-margin-between-blocks;

    .column-item {
        flex: 1;

        .subtitle {
            font-size: 20px;
            line-height: 1.5;
            font-family: $heading-font;
        }

        .title {
            font-size: 53px;
        }

        .text {
            color: $text-color;
            padding-top: 30px;
        }
    }
}

.cards-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-left: $site-margin-left;
    padding-right: $site-margin-right;
    margin: $site-margin-between-blocks 0;
    margin-top: 5%;
    cursor: pointer;

    .card-image {
        text-align: center;
        background-color: $block-color;
        padding: 32px;
        border-radius: 8px;
        transition: box-shadow 0.3s ease;
    }

    .card-image:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
}

.cards-text {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-left: $site-margin-left;
    padding-right: $site-margin-right;
    margin-top: $site-margin-between-blocks;

    .card-text {
        .title {
            margin: 15px 0 15px 0;
        }
    }
}

hr {
    width: 90%;
    border-top: 1px solid $tmp-color;
    margin: $site-margin-between-blocks auto;
}
