@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basic setting */
body {
  max-width: 1600px;
  background-color: white;
  font-family: #4F5664;
  font-size: 16px;
  line-height: 1.8;
}

.title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

.text {
  color: #4F5664;
  font-family: "Inter", sans-serif;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.icon {
  background-color: #2D29D7;
  width: 48px;
  height: 48px;
}

.image {
  background-color: #C6C8CA;
  width: 100%;
  height: 300px;
}

.button {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 5px 10px;
  margin-top: 30px;
  border-radius: 8px;
  border: 2px solid #2D29D7;
  background-color: white;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  white-space: normal;
}
.button .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.button a {
  color: #2D29D7;
}

.button:hover {
  background-color: #2D29D7;
  border-color: white;
}
.button:hover a {
  color: white;
}
.button:hover .icon {
  background-color: white;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .list {
  display: flex;
}
.menu .list .item {
  margin-right: 60px;
}

.columns {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10%;
}
.columns .column-item {
  flex: 1;
}
.columns .column-item .subtitle {
  font-size: 20px;
  line-height: 1.5;
  font-family: "Space Grotesk", sans-serif;
}
.columns .column-item .title {
  font-size: 53px;
}
.columns .column-item .text {
  color: #4F5664;
  padding-top: 30px;
}

.cards-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 10% 0;
  margin-top: 5%;
  cursor: pointer;
}
.cards-image .card-image {
  text-align: center;
  background-color: #F8FAFD;
  padding: 32px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}
.cards-image .card-image:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.cards-image .title {
  padding: 15px 0 25px 0;
}

.cards-text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10%;
}
.cards-text .card-text .title {
  margin: 15px 0 15px 0;
}

hr {
  width: 90%;
  border-top: 1px solid #C6C8CA;
  margin: 10% auto;
}

/*========== Heading ==========*/
#heading {
  height: auto;
  min-height: 850px;
  background-color: #2D29D7;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  background-image: url("/images/header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20px;
}
#heading .container {
  width: auto;
  max-width: 374px;
  color: white;
  margin-top: 11%;
}
#heading .container .title {
  font-size: 53px;
  margin-top: 30px;
  padding-bottom: 20px;
}
#heading .container .description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding-bottom: 20px;
}

/*========== Trusted by ==========*/
#trusted-by {
  text-align: center;
  background-color: #F8FAFD;
  height: 160px;
  border-radius: 0 0 16px 16px;
  padding-top: 40px;
}
#trusted-by .text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
}

/*========== By the numbers ==========*/
#numbers-block {
  margin-top: 10%;
}
#numbers-block .card-text-custom {
  border: 1px solid #C6C8CA;
  border-radius: 8px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}
#numbers-block .card-text-custom .title {
  color: #2D29D7;
  padding: 15px 0 20px 0;
}
#numbers-block .card-text-custom:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*========== All-in-one platform / One API ==========*/
#api-block {
  margin-top: 10%;
}

/*========== Always-on protection ==========*/
#protection-block {
  margin-top: 10%;
}

/*========== Quote ==========*/
#quote-block .container {
  display: flex;
  flex-direction: row;
  background-color: #2D29D7;
  padding: 5vw;
  border-radius: 16px;
  color: white;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  transition: box-shadow 0.3s ease;
}
#quote-block .container .content {
  display: flex;
  flex-direction: row;
}
#quote-block .container .content .image {
  max-width: 250px;
  max-height: 250px;
  background-color: white;
  margin-right: 2vw;
  align-self: center;
}
#quote-block .container .content .icon {
  align-self: flex-start;
  margin-left: 20px;
}
#quote-block .container .content .text {
  position: relative;
  flex: 1;
  padding: 80px 0 0 0;
  margin-left: -40px;
  font-size: 24px;
  color: white;
}
#quote-block .container .content .line {
  position: relative;
  margin-top: 40px;
  width: 2px;
  height: 55px;
  background-color: white;
}
#quote-block .container .content .author {
  font-family: "Inter", sans-serif;
  margin-left: 30px;
  margin-top: -55px;
}

/*========== Instant settlement ==========*/
#settlement-block {
  margin-top: 10%;
}

/*========== Why Sardine ==========*/
#why-sardine-block {
  margin-top: 10%;
}

/*========== Series-B ==========*/
#series-b-block {
  margin-top: 10%;
}
#series-b-block .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10%;
  background-color: #2D29D7;
  height: auto;
  color: white;
  border-radius: 16px;
  padding-left: 10%;
  padding-right: 10%;
  padding: 10% 10% 10% 15%;
}
#series-b-block .container .content {
  margin-top: 30px;
  width: 80%;
  color: white;
}
#series-b-block .container .content .title {
  font-size: 41px;
  padding-bottom: 20px;
}
#series-b-block .container .content .text {
  color: white;
  font-size: 20px;
  line-height: 1.5;
}

/*========== Payments ==========*/
#payments-block .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}
#payments-block .container .content {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  margin-top: 40px;
}
#payments-block .container .content .subtitle {
  font-size: 20px;
}
#payments-block .container .content .title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 54px;
  margin: 30px 0 30px 0;
}
#payments-block .container .content .button {
  background-color: #2D29D7;
  padding: 10px 10px;
}
#payments-block .container .content .button a {
  color: white;
}
#payments-block .container .content .button .icon {
  background-color: white;
}
#payments-block .container .content .button:hover {
  background-color: white;
  border-color: #2D29D7;
}
#payments-block .container .content .button:hover a {
  color: #2D29D7;
}
#payments-block .container .content .button:hover .icon {
  background-color: #2D29D7;
}
#payments-block .container .image {
  display: flex;
  height: 500px;
  width: 40%;
  background-color: #2D29D7;
  border-radius: 16px;
}

/*========== Footer ==========*/
footer {
  background-color: #090628;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 2;
  height: auto;
  padding-top: 5px;
  border-radius: 24px 24px 0px 0px;
  margin-top: 10%;
}
footer .column {
  width: 17%;
  padding: 20px;
}
footer .column .title {
  color: #AEACFF;
  padding-bottom: 10px;
  font-size: 14px;
}
footer .column .right {
  color: #AEACFF;
}
footer .column .column-list .column-item {
  margin-bottom: 5px;
  font-size: 13px;
}
footer .column .column-list .column-item:last-child {
  margin-bottom: 0;
}
footer .row {
  margin-top: 20px;
  margin-right: 140px;
}
footer .row .row-list {
  display: flex;
  justify-content: flex-end;
}
footer .row .row-list .row-item {
  margin-left: 20px;
  margin-bottom: 20px;
}
footer .row .row-list .row-item:first-child {
  margin-left: 0;
}

/* For small devices */
@media screen and (max-width: 480px) {
  .blocks {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: 1fr;
  }
  .cards-image {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: 1fr;
  }
}
/* For mobile devices */
@media (max-width: 767px) {
  .cards-text {
    grid-gap: 40px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-image {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(1, 1fr);
  }
  .columns {
    flex-direction: column;
  }
  .columns .column-item {
    margin-bottom: 10%;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    margin-left: 70px;
  }
  .menu .item {
    margin-left: -20px;
    margin-bottom: 10px;
  }
  /*========== Heading ==========*/
  #heading .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  #heading .container .title,
  #heading .container .description,
  #heading .container .button {
    width: auto;
    text-align: center;
  }
  /*========== Quote ==========*/
  #quote-block .container {
    flex-direction: row;
  }
  #quote-block .container .content {
    margin-left: -20px;
  }
  #quote-block .container .content .image {
    display: none;
  }
  #quote-block .container .content .text {
    padding: 80px 0 0 0;
  }
  #quote-block .container .content .author {
    margin-left: 20px;
    margin-top: -55px;
  }
  /*========== Payments ==========*/
  #payments-block .container {
    flex-direction: column;
  }
  #payments-block .container .image {
    width: 100%;
    margin-top: 30px;
  }
  /*========== Footer ==========*/
  footer .column {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  footer .column .title {
    font-size: 12px;
  }
  footer .column .column-list .column-item {
    font-size: 11px;
  }
  footer .row {
    margin-top: 10px;
    width: 100%;
  }
  footer .row .row-list {
    justify-content: center;
  }
  footer .row .row-list .row-item {
    margin: 0 5px;
    padding-bottom: 20px;
  }
}
/* For tablets */
@media (min-width: 768px) and (max-width: 1200px) {
  .cards-text {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-image {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(2, 1fr);
  }
  /*========== Quote ==========*/
  #quote-block .container .image {
    display: none;
  }
  /*========== Payments ==========*/
  #payments-block .container {
    flex-direction: column;
  }
  #payments-block .container .image {
    width: 100%;
    margin-top: 30px;
  }
}
