@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@600&display=swap");
/* Colors */
/* Margins */
/* Fonts */
/* Mixins */
/* Basic setting */
body a,
body p,
body button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 29px;
}
body h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 53px;
  margin-top: 20px;
  line-height: 65px;
}

/* Header */
header {
  position: relative;
}
header .header-background {
  height: 850px;
  background-color: #2D29D7;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  background-image: url("/images/header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 20px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin-right: 60px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
header h1 {
  padding-top: 95px;
}
header h1,
header p,
header .header-button {
  margin-top: 30px;
  width: 374px;
  color: white;
}
header .header-button {
  display: flex;
  align-items: center;
  background-color: white;
  width: 130px;
  height: 30px;
  border-radius: 8px;
  border: 3px solid #2D29D7;
  padding: 5px 5px 5px 15px;
  margin-top: 30px;
  cursor: pointer;
}
header .header-button .icon {
  width: 20px;
  height: 20px;
  background-color: #2D29D7;
  margin-right: 10px;
}
header .header-button button {
  color: #2D29D7;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
header .header-button:hover {
  background-color: #2D29D7;
  border-color: white;
}
header .header-button:hover button {
  color: white;
}
header .header-button:hover .icon {
  background-color: white;
}
@media screen and (max-width: 768px) {
  header .header-background {
    padding-left: 20px;
    padding-right: 20px;
  }
  header h1,
  header p,
  header .header-button {
    width: auto;
    text-align: center;
  }
  header li {
    margin-right: 30px;
  }
}

/* Container */
.container .gray-block {
  text-align: center;
  background-color: #F8FAFD;
  padding-top: 40px;
  height: 160px;
  border-radius: 0 0 16px 16px;
}
.container .gray-block h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  margin: 0;
}
.container .text-columns {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 10%;
}
.container .text-columns .column {
  flex: 1;
}
.container .text-columns .column p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 29px;
  color: #4F5664;
  padding-top: 30px;
}
.container .text-columns .column .column1 {
  font-size: 20px;
  line-height: 30px;
  font-family: "Space Grotesk", sans-serif;
}
.container .blocks {
  grid-gap: 10px;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 10%;
}
.container .blocks .block1 {
  padding: 20px;
  border: 1px solid #C6C8CA;
  border-radius: 8px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}
.container .blocks .block1 .icon {
  width: 20px;
  height: 20px;
  background-color: #2D29D7;
  margin-right: 10px;
  width: 48px;
  height: 48px;
}
.container .blocks .block1 h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  margin: 15% 0 5% 0;
  line-height: 24px;
}
.container .blocks .block1 p {
  font-size: 16px;
  line-height: 24px;
  color: #4F5664;
}
.container .blocks .block1 h3 {
  color: #2D29D7;
}
.container .blocks .block1:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container hr {
  width: 90%;
  border: none;
  border-top: 1px solid #C6C8CA;
  margin: 10% auto;
}
.container .image-columns {
  grid-gap: 10px;
  padding-left: 10%;
  padding-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10% 0;
  margin-top: 5%;
  cursor: pointer;
}
.container .image-columns .column {
  text-align: center;
  background-color: #F8FAFD;
  padding: 32px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}
.container .image-columns .column .image {
  width: 100%;
  height: 300px;
  background-color: #C6C8CA;
}
.container .image-columns .column h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  margin: 10px 0;
}
.container .image-columns .column p {
  color: #4F5664;
}
.container .image-columns .column:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container .button {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: white;
  cursor: pointer;
  width: 130px;
  height: 30px;
  border-radius: 8px;
  border: 3px solid #2D29D7;
  padding: 5px;
  padding-left: 10px;
  margin-top: 30px;
}
.container .button .icon {
  width: 20px;
  height: 20px;
  background-color: #2D29D7;
  margin-right: 10px;
}
.container .button button {
  color: #2D29D7;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.container .button:hover {
  background-color: #2D29D7;
  border-color: white;
}
.container .button:hover button {
  color: white;
}
.container .button:hover .icon {
  background-color: white;
}
.container .block {
  padding: 20px;
}
.container .block .icon {
  width: 20px;
  height: 20px;
  background-color: #2D29D7;
  margin-right: 10px;
  width: 48px;
  height: 48px;
}
.container .block h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  margin: 15% 0 5% 0;
  line-height: 24px;
}
.container .block p {
  font-size: 16px;
  line-height: 24px;
  color: #4F5664;
}
.container .quotation-block {
  display: flex;
  align-items: center;
  background-color: #2D29D7;
  padding: 5vw;
  border-radius: 16px;
  color: white;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  transition: box-shadow 0.3s ease;
}
.container .quotation-block .image {
  width: 20vw;
  max-width: 200px;
  height: 20vw;
  max-height: 200px;
  background-color: white;
  margin-right: 2vw;
}
.container .quotation-block .icon {
  align-self: flex-start;
}
.container .quotation-block .text {
  position: relative;
  flex: 1;
  padding: 80px 0 0 0;
}
.container .quotation-block .line {
  position: relative;
  margin-top: 40px;
  width: 2px;
  height: 55px;
  background-color: white;
}
.container .quotation-block .author {
  margin-left: 3vw;
  margin-top: -55px;
}
@media screen and (max-width: 768px) {
  .container .quotation-block .quotation-block {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 5vw;
  }
  .container .quotation-block .image {
    display: none;
  }
  .container .quotation-block .text {
    margin-top: 1vw;
  }
  .container .quotation-block .line {
    display: none;
  }
  .container .quotation-block .author {
    margin-left: 0;
    margin-top: 5vw;
  }
}
.container .quotation-block:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.container .blue-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10%;
  background-color: #2D29D7;
  height: auto;
  color: white;
  border-radius: 16px;
  padding-left: 10%;
  padding-right: 10%;
  padding: 10%;
}
.container .blue-block h1,
.container .blue-block p {
  margin-top: 30px;
  width: 374px;
  color: white;
}
.container .blue-block h1,
.container .blue-block p {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .container .blue-block .blue-block {
    padding: auto;
    height: auto;
  }
  .container .blue-block h1,
  .container .blue-block p {
    width: auto;
    text-align: center;
  }
  .container .blue-block li {
    margin-right: 30px;
  }
}
.container .part9 {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.container .part9 .content-block {
  width: 100%;
  max-width: 585px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container .part9 .content-block .text {
  padding-right: 50px;
  text-align: left;
}
.container .part9 .content-block .text .small-text {
  color: #4F5664;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 20px;
}
.container .part9 .content-block .text h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 54px;
  line-height: 65px;
  margin-bottom: 20px;
}
.container .part9 .content-block .text p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 30px;
  color: black;
}
.container .part9 .content-block .text .button {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 30px;
  background-color: #2D29D7;
}
.container .part9 .content-block .text .button .icon {
  width: 20px;
  height: 20px;
  background-color: #2D29D7;
  margin-right: 10px;
  background-color: white;
}
.container .part9 .content-block .text .button button {
  color: #2D29D7;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
}
.container .part9 .content-block .button:hover {
  background-color: white;
  border-color: #2D29D7;
}
.container .part9 .content-block .button:hover button {
  color: #2D29D7;
}
.container .part9 .content-block .button:hover .icon {
  background-color: #2D29D7;
}
.container .part9 .image {
  flex: 0 0 100%;
  max-width: 585px;
  height: 568px;
  border-radius: 16px;
  background-color: #2D29D7;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .container .part9 .content-block {
    width: 50%;
  }
  .container .part9 .image {
    flex: 0 0 50%;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .container .blocks {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .image-columns {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .container .blocks {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: 1fr;
  }
  .container .image-columns {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .container .text-columns {
    flex-direction: column;
  }
  .container .text-columns .column {
    margin-bottom: 10%;
  }
}
@media screen and (max-width: 768px) {
  .container .image-columns {
    grid-gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: 1fr;
  }
}

/* Footer */
footer {
  height: auto;
  background-color: #090628;
  padding: 20px;
  color: white;
  margin-top: 10%;
  font-size: 14px;
  line-height: 35px;
  font-family: "Inter", sans-serif;
  border-radius: 24px 24px 0px 0px;
  padding-top: 5%;
  padding-left: 5%;
}
footer .column {
  float: left;
  width: 17%;
  padding: 20px;
}
footer .column h3 {
  margin-top: 0;
  font-family: "Space Grotesk", sans-serif;
  color: #AEACFF;
  padding-bottom: 10px;
}
footer .column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer .column ul li {
  margin-bottom: 5px;
}
footer .column ul li:last-child {
  margin-bottom: 0;
}
footer a {
  text-decoration: none;
  font-size: 14px;
  line-height: 35px;
  font-family: "Inter", sans-serif;
  color: white;
}
footer .bottom-row {
  clear: both;
  margin-top: 20px;
  margin-right: 140px;
}
footer .bottom-row ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
footer .bottom-row ul li {
  margin-left: 10px;
  padding-left: 20px;
}
footer .bottom-row ul li:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  footer .column {
    width: 90%;
  }
  footer .bottom-row {
    margin-left: 0;
    text-align: left;
    width: 80%;
  }
  footer ul.bottom-row {
    justify-content: flex-start;
  }
}
